# Web Framework
Flask
fastapi

# Environment and Configuration
python-dotenv

# Networking
requests
websockets
gunicorn==23.0.0
Werkzeug==3.0.3
# API Integrations
twilio
openai
deepgram-sdk

# Event Handling
event-emitter
flask-sock

# Logging
colorlog
loguru

# Testing
pytest
pytest-asyncio

# UI
streamlit

deepseek